# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.tree-view .file':
      'To Base64': 'to-base64:view'
        #'View': 'to-base64:view'
        #'Insert Data URI': 'to-base64:data'

#'menu': [
#  {
#    'label': 'Packages'
#    'submenu': [
#      'label': 'to base64'
#      'submenu': [
#        { 'label': 'Toggle', 'command': 'to-base64:toggle' }
#      ]
#    ]
#  }
#]
