# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.tree-view .file': [
    {label: 'To Base64', command: 'to-base64:view'}
  ]
  'atom-text-editor': [
    {
      'label': 'To Base64'
      submenu: [
        {label: 'Encode', command: 'to-base64:encode'}
        {label: 'Decode', command: 'to-base64:decode'}
      ]
    }
  ]
        #'View': 'to-base64:view'
        #'Insert Data URI': 'to-base64:data'

#'menu': [
#  {
#    'label': 'Packages'
#    'submenu': [
#      'label': 'to base64'
#      'submenu': [
#        { 'label': 'Toggle', 'command': 'to-base64:toggle' }
#      ]
#    ]
#  }
#]
