#
#
#
# 'mime type':
#   'mime subtype': # '_' => default
#     'method':
#       'grammar':  # grammar scope name. list: https://gist.github.com/fentas/cc3846891b5f49ed353c#file-gistfile1-md
#       'content':  # content...
#
# You can use following vars in content string
#
# @name  : name
# @mime  : mime type
# @base64: base64 encode
# @_     : extra information ~ not reliable (like parsed name, font weight etc)
# @get('<<mime type>>', '<<method>>') -> gives parsed content of method
#
# \n ~ new line
# \t ~ intend
# if you use ''' use #{'  '} for intend
#
'image':
  #default
  '_':
    'data':
      'grammar': 'text.plain'
      'content': 'data:#{@mime};base64,#{@base64}'
    'css':
      'grammar': 'source.css'
      'content': '''div.image {
        #{'  '}width: #{@_.width}px;
        #{'  '}height: #{@_.height}px;
        #{'  '}background-image: URL("#{@get("image","data")}")\n}'''
    'xhtml':
      'grammar': 'text.html.basic'
      'content': '<img src="#{@get("image","data")}" />'

'application':
  'font-woff':
    'data':
      'grammar': 'text.plain'
      'content': 'data:#{@mime};base64,#{@base64}'
    'css':
      'grammar': 'source.css'
      'content': '''@font-face {
        #{'  '}font-family: "#{@_.name}";
        #{'  '}font-weight: #{@_.weight};
        #{'  '}src: local("#{@_.name}"), URL("#{@get("application/font-woff","data")}") format("woff");\n}'''
  'vnd.ms-fontobject':
    'data':
      'grammar': 'text.plain'
      'content': 'data:#{@mime};base64,#{@base64}'
    'css':
      'grammar': 'source.css'
      'content': '''@font-face {
        #{'  '}font-family: "#{@_.name}";
        #{'  '}font-weight: #{@_.weight};
        #{'  '}src: local("#{@_.name}"), URL("#{@get("application/vnd.ms-fontobject","data")}") format("vnd.ms-fontobject");\n}'''

  'x-font-ttf':
    'data':
      'grammar': 'text.plain'
      'content': 'data:#{@mime};base64,#{@base64}'
    'css':
      'grammar': 'source.css'
      'content': '''@font-face {
        #{'  '}font-family: "#{@_.name}";
        #{'  '}font-weight: #{@_.weight};
        #{'  '}src: local("#{@_.name}"), URL("#{@get("application/x-font-ttf","data")}") format("truetype");\n}'''
